﻿@model Lecoati.LeBlender.Extension.Models.LeBlenderModel
@{
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var latestNews = umbracoHelper.TypedContentAtRoot().FirstOrDefault(i => i.GetCulture().ToString() == Culture)
        .Children
        .FirstOrDefault(i => i.DocumentTypeAlias == "news")
        .Children
        .Where(i => i.DocumentTypeAlias == "newsArticle" && i.IsVisible() && i.HasValue("publishedDate"))
        .OrderBy(i => i.GetPropertyValue<DateTime>("publishedDate"))
        .ToList();
    var model = Model.Items.FirstOrDefault();
}

<div class="last-news">
    <div class="container">
        @if (model.HasProperty("heading")) {
            <h2>@(model.GetValue<string>("heading"))</h2>
        }
        <div class="row">
            @foreach (var item in latestNews) {
                <div class="col-sm-4">
                    <div class="news-item">
                        <a href="@item.Url"></a>
                        @{
                            var imageUrl = "";
                            var imageAlt = "";
                            if (item.HasValue("thumbnail")) {
                                var image = item.GetPropertyValue<IPublishedContent>("thumbnail");
                                if (image.HasValue("umbracoFile")) {
                                    imageUrl = image.GetResponsiveImageUrl(640, 360);
                                    imageAlt = image.Name;
                                }
                            }
                        }
                        <img class="img-responsive" src="@imageUrl" alt="@imageAlt">
                        <div class="content">
                            <i class="fa fa-arrow-right"></i>
                            @if (item.HasValue("publishedDate")) {
                                var publishedDate = item.GetPropertyValue<DateTime>("publishedDate");
                                <span class="date">@publishedDate.ToString("dd/MM/yyyy")</span>
                            }
                            @if (item.HasValue("title")) {
                                <h3>@(item.GetPropertyValue<string>("title"))</h3>
                            }
                            <p>
                                @if (item.HasValue("excerpt")) {
                                    @(library.TruncateString(item.GetPropertyValue<string>("excerpt"), 300, "..."))
                                } else if (item.HasValue("grid")) {
                                    var noHtmlGrid = library.StripHtml(Html.GetGridHtml(item, "grid").ToString());
                                    @(library.TruncateString(noHtmlGrid, 300, "..."))
                                }
                            </p>
                        </div>
                    </div>
                </div>
                            }
        </div>
    </div>
</div>
