﻿@using MorsoeForsyning.Utilities
@model Archetype.Models.ArchetypeFieldsetModel
@{
    var colorClass = "content-gray dark";
    if (Model.HasValue("colorScheme"))
    {
        var colorClasses = new Dictionary<string, string>() {
                { "0c589d", "content-blue light" },
                { "e6e6e6", "content-gray dark" },
                { "ffffff", "content-white dark" },
                { "808080", "content-dark-gray light" }
            };
        var colorScheme = Model.GetValue<string>("colorScheme");
        colorClass = colorClasses[colorScheme];
    }
    var name = "";
    var urlName = "";
    if (Model.HasValue("name"))
    {
        name = Model.GetValue<string>("name");
        urlName = name.ToNiceUrl();
    }
}

<div class="calculateForm preeForm @colorClass section-box" id="@urlName">
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><span class="section-name">@name</span></div>
            <div class="col-sm-12">
                <div class="box-padding">
                    @if (Model.HasValue("text"))
                    {
                        @(Model.GetValue<IHtmlString>("text"))
                    }
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-12">
                        <p>
                            Hvor stort er dit gasforbrug på et år i gennemsnit
                        </p>
                        <div class="form-group">
                            <label>m³ gas</label>
                            <input class="form-control" id="gas" type="number" name="gas" min="0" value="0" placeholder="Årligt gas forbrug i m³" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <p>
                            Hvor stort er dit olieforbrug på et år i gennemsnit
                        </p>
                        <div class="form-group">
                            <label>liter olie</label>
                            <input class="form-control" id="oile" type="number" name="oile" min="0" value="0" placeholder="Årligt olieforbrug forbrug i liter" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <p>
                            Hvor mange m² er dit hus i alt?
                        </p>
                        <div class="form-group">
                            <label>m²</label>
                            <input class="form-control" id="house" type="number" name="house" min="0" value="0" placeholder="Hus i m²" />
                        </div>
                    </div>
                    <div class="col-md-12 hidden">
                        <input value="@(Model.GetValue<int>("varibleTarif"))" id="varibleTarif" name="varibleTarif" type="number" />
                        <input value="@(Model.GetValue<string>("fixedAmount"))" id="fixedAmout" name="fixedAmount" type="number" />
                        <input value="@(Model.GetValue<int>("meter"))" id="meter" name="meter" type="number" />
                    </div>
                    <div class="col-md-12">
                        <span class="box-frame">
                            <p>
                                Ønsker du at indgå i varmemesterordningen og lade fjernvarmeselskabet eje og drifte din fjernvarmeunit
                            </p>
                            <label for="checktypeYes">
                                Ja
                                <input class="form-check-input" type="radio" value="@(Model.GetValue<int>("heatmaster"))" name="checktype" id="checktypeYes">
                            </label>
                            <label for="checktypeNo">
                                Nej
                                <input class="form-check-input" type="radio" value="0" name="checktype" id="checktypeNo">
                            </label>
                        </span>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="price-box">
                    <h2>Årlig varmeudgift af fjernvarmen for dit hus <br /><span class="heatResult">0</span>,- kr</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-sm-offset-2 text-center box-padding">
            
        </div>
    </div>
</div>