﻿@model Archetype.Models.ArchetypeFieldsetModel
@{
    var colorClass = "content-gray dark";
    if (Model.HasValue("colorScheme")) {
        var colorClasses = new Dictionary<string, string>() {
                { "0c589d", "content-blue light" },
                { "e6e6e6", "content-gray dark" },
                { "ffffff", "content-white dark" },
                { "808080", "content-dark-gray light" }
            };
        var colorScheme = Model.GetValue<string>("colorScheme");
        colorClass = colorClasses[colorScheme];
    }
}

<div class="link-bar @colorClass">
    <div class="container box-padding">
        <div class="row">
            <div class="col-sm-8">
                @if (Model.HasValue("punchline")) {
                    <h2>@(Model.GetValue<string>("punchline"))</h2>
                }
            </div>
            @if (Model.HasValue("button")) {
                var link = Model.GetValue<RJP.MultiUrlPicker.Models.MultiUrls>("button").FirstOrDefault();
                <div class="col-sm-4">
                    <a href="@link.Url" target="@link.Target" class="lir">@link.Name</a>
                </div>
            }
        </div>
    </div>
</div>