﻿@using MorsoeForsyning.Utilities
@model Archetype.Models.ArchetypeFieldsetModel
@{
    var colorClass = "content-gray dark";
    if (Model.HasValue("colorScheme")) {
        var colorClasses = new Dictionary<string, string>() {
                { "0c589d", "content-blue light" },
                { "e6e6e6", "content-gray dark" },
                { "ffffff", "content-white dark" },
                { "808080", "content-dark-gray light" }
            };
        var colorScheme = Model.GetValue<string>("colorScheme");
        colorClass = colorClasses[colorScheme];
    }

    var name = "";
    var urlName = "";
    if (Model.HasValue("name")) {
        name = Model.GetValue<string>("name");
        urlName = name.ToNiceUrl();
    }
}

<div class="all-around-box @colorClass section-box" id="@urlName">
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><span class="section-name">@name</span></div>
            @if (Model.HasValue("heading")) {
                <div class="col-sm-12">
                    <div class="box-padding">
                        <h2>@(Model.GetValue<string>("heading"))</h2>
                    </div>
                </div>
            }
            @foreach (var item in Model.GetValue<Archetype.Models.ArchetypeModel>("departments")) {
                <div class="col-sm-4" data-match-height="contact">
                    <div class="contact">
                        @if (item.HasValue("name")) {
                            <h3>@(item.GetValue<string>("name"))</h3>
                        }
                        @if (item.HasValue("contactPerson")) {
                            <p>@(item.GetValue<string>("contactPerson"))</p>
                        }
                        @if (item.HasValue("street")) {
                            <span>@(item.GetValue<string>("street"))</span>
                            <br />
                        }
                        @{
                            var cityAndZip = "";
                            if (item.HasValue("zipCode") && item.HasValue("city")) {
                                var city = item.GetValue<string>("city");
                                var zipCode = item.GetValue<string>("zipCode");
                                cityAndZip = zipCode + " " + city;
                            } else if (item.HasValue("zipCode")) {
                                cityAndZip = item.GetValue<string>("zipCode");
                            } else if (item.HasValue("city")) {
                                cityAndZip = item.GetValue<string>("zipCode");
                            } else {
                                cityAndZip = "";
                            }
                        }
                        @if (!string.IsNullOrEmpty(cityAndZip)) {
                            <span>@cityAndZip</span>
                        }
                        <br><br>
                        @if (item.HasValue("phone")) {
                            var phone = item.GetValue<string>("phone");
                            <span><a href="tel:+45@(phone.Replace(" ", ""))">Tlf. 82 13 04 04</a></span>
                        }
                        <br><br>
                        @if (item.HasValue("email")) {
                            var email = item.GetValue<string>("email");
                            <span><a href="mailto:@email">@email</a></span>
                        }
                    </div>
                </div>
                }
            @if (Model.HasValue("text")) {
            <div class="col-sm-12 box-padding">
                @(Model.GetValue<IHtmlString>("text"))
            </div>
            }
        </div>
    </div>
</div>