﻿@using MorsoeForsyning.Utilities
@model Archetype.Models.ArchetypeFieldsetModel
@{
    var colorClass = "content-gray dark";
    if (Model.HasValue("colorScheme"))
    {
        var colorClasses = new Dictionary<string, string>() {
                { "0c589d", "content-blue light" },
                { "e6e6e6", "content-gray dark" },
                { "ffffff", "content-white dark" },
                { "808080", "content-dark-gray light" }
            };
        var colorScheme = Model.GetValue<string>("colorScheme");
        colorClass = colorClasses[colorScheme];
    }
    var name = "";
    var urlName = "";
    if (Model.HasValue("name"))
    {
        name = Model.GetValue<string>("name");
        urlName = name.ToNiceUrl();
    }
}

<div class="relocation preeForm @colorClass section-box" id="@urlName">
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><span class="section-name">@name</span></div>
            <div class="col-sm-12">
                <div class="box-padding">
                    @if (Model.HasValue("text"))
                    {
                        @(Model.GetValue<IHtmlString>("text"))
                    }
                    <span class="remember-all">
                        Alle felter er obligatoriske
                    </span>
                </div>
            </div>
            @using (Html.BeginUmbracoForm<MorsoeForsyning.Controllers.DistrictheatingFormController>("Index"))
            {
                <div class="col-sm-12">

                    @if (IsPost)
                    {
                        <div class="alert alert-success">
                            <span>Formularen blev indsendt!</span>
                        </div>
                    }

                    <h3>Forhåndstilmelding </h3>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="PreeNewAddress" required placeholder="Indtast Installationsadresse">
                                <input type="text" class="form-control" name="PreeName" required placeholder="Indtast ejers navn">

                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="PreeAddress" required placeholder="Indtast ejers adresse">
                                <input type="text" class="form-control" name="PreePhone" required placeholder="Indtast mobilnummer">

                            </div>
                            <div class="col-md-12">
                                <input type="email" class="form-control" name="PreeEmail" required placeholder="Indtast e-mail">
                                <input type="text" class="form-control" name="PreeContact" required placeholder="Indtast evt. kontaktperson">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="box-frame">
                            <input class="form-check-input" type="checkbox" value="" id="alow">
                            <label class="form-check-label" for="alow">
                                Ja tak, jeg vil gerne give min forhåndstilmelding til fjernvarmen
                            </label>
                        </span>
                        <p style="font-size:13px; margin-bottom:15px;">Dine oplysninger bliver ikke videregivet eller oplyst til tredjepart og dine oplysninger slettes, når de ikke længere er relevante.</p>
                        <br />
                    </div>
                </div>

                <div class="col-md-12">
                    <button type="submit" class="send">Send</button>
                </div>
            }
        </div>
        <div class="col-sm-8 col-sm-offset-2 text-center box-padding">
            
        </div>
    </div>
</div>