﻿@using MorsoeForsyning.Utilities
@model Archetype.Models.ArchetypeFieldsetModel
@{
    var colorClass = "content-gray dark";
    if (Model.HasValue("colorScheme")) {
        var colorClasses = new Dictionary<string, string>() {
                { "0c589d", "content-blue light" },
                { "e6e6e6", "content-gray dark" },
                { "ffffff", "content-white dark" },
                { "808080", "content-dark-gray light" }
            };
        var colorScheme = Model.GetValue<string>("colorScheme");
        colorClass = colorClasses[colorScheme];
    }

    var name = "";
    var urlName = "";
    if (Model.HasValue("name")) {
        name = Model.GetValue<string>("name");
        urlName = name.ToNiceUrl();
    }
}

<div class="all-around-box @colorClass section-box" id="@urlName">
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><span class="section-name">@name</span></div>
            <div class="col-sm-12">
                <div class="box-padding">
                    <h2>@name</h2>
                </div>
            </div>
            @if (Model.HasValue("dropdownParagraphs")) {
                var paragraphs = Model.GetValue<Archetype.Models.ArchetypeModel>("dropdownParagraphs").Where(i => !i.Disabled);
                <div class="col-sm-4">
                    <select class="dropdown-paragraph-chooser multi-seelect">
                        @foreach (var item in paragraphs) {
                            var value = "";
                            var itemName = "";
                            if (item.HasValue("name")) {
                                itemName = item.GetValue<string>("name");
                                value = itemName.ToNiceUrl();
                            }
                            <option value="@value">@itemName</option>
                        }
                    </select>
                </div>
                <div class="dropdown-paragraphs">
                    @foreach (var item in paragraphs) {
                        var itemName = "";
                        if (item.HasValue("name")) {
                            itemName = item.GetValue<string>("name").ToNiceUrl();
                        }
                        <div class="col-sm-12 @(paragraphs.FirstOrDefault().Id == item.Id ? "" : "hidden")" id="@itemName">
                            @if (item.HasValue("text")) {
                                <div class="box-padding">
                                    @(item.GetValue<IHtmlString>("text"))
                                </div>
                            }
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
