﻿@using Archetype.Models
@using MorsoeForsyning.Utilities
@model Archetype.Models.ArchetypeFieldsetModel
@{
    var colorClass = "content-blue light";
    if (Model.HasValue("colorScheme"))
    {
        var colorClasses = new Dictionary<string, string>() {
                { "0c589d", "content-blue light" },
                { "e6e6e6", "content-gray dark" },
                { "ffffff", "content-white dark" },
                { "808080", "content-dark-gray light" }
            };
        var colorScheme = Model.GetValue<string>("colorScheme");
        colorClass = colorClasses[colorScheme];
    }
    var name = Model.GetValue<string>("name");
    var urlName = "";
    if (Model.HasValue("name"))
    {
        urlName = name.ToNiceUrl();
    }
}
@if (Model.HasValue("employeesList"))
{
    <div class="@colorClass employees section-box" id="@urlName">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span class="section-name">@name</span>
                </div>
                @foreach (var item in Model.GetValue<ArchetypeModel>("employeesList").Where(i => !i.Disabled))
                {
                    <div class="col-sm-12">
                        <h2>@(item.GetValue<string>("name"))</h2>
                    </div>
                    if (item.HasValue("employees"))
                    {
                        foreach (var employee in item.GetValue<ArchetypeModel>("employees").Where(i => i != null && !i.Disabled))
                        {
                            <div class="col-xs-6 col-sm-4 col-md-4 item" data-match-height="employee">
                                @if (employee.HasValue("image"))
                                {
                                    var image = employee.GetValue<IPublishedContent>("image");
                                    if (image != null && image.HasValue("umbracoFile"))
                                    {
                                        <img class="img-responsive" src="@image.GetCropUrl(width: 500, preferFocalPoint: true)" alt="@image.Name">
                                    }
                                }
                                <p>
                                    @if (employee.HasValue("title"))
                                    {
                                        @(employee.GetValue<string>("title"))
                                        <br>
                                    }
                                    @(employee.GetValue<string>("name"))
                                    <br>
                                    @if (employee.HasValue("phone"))
                                    {
                                        <a href="tel:@(employee.GetValue<string>("phone").Replace(" ", ""))">Tlf. @(employee.GetValue<string>("phone"))</a>
                                        <br>
                                    }
                                    @if (employee.HasValue("email"))
                                    {
                                        <a href="mailto:@(employee.GetValue<string>("email"))"><span class="hidden-xs">Mail: </span>@(employee.GetValue<string>("email"))</a>
                                    }
                                </p>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
}