﻿@using MorsoeForsyning.Utilities
@model Archetype.Models.ArchetypeFieldsetModel
@{
    var colorClass = "content-gray dark";
    if (Model.HasValue("colorScheme")) {
        var colorClasses = new Dictionary<string, string>() {
                { "0c589d", "content-blue light" },
                { "e6e6e6", "content-gray dark" },
                { "ffffff", "content-white dark" },
                { "808080", "content-dark-gray light" }
            };
        var colorScheme = Model.GetValue<string>("colorScheme");
        colorClass = colorClasses[colorScheme];
    }
    var column = "col-sm-12";
    var textColumn = "";
    var iFrameUrl = "";
    if (Model.HasValue("textColumn")) {
        var columnClasses = new Dictionary<string, string>() {
                { "Venstre kolonne", "col-sm-6" },
                { "Fuld kolonne", "col-sm-12" },
                { "Højre kolonne", "col-sm-offset-4 col-sm-8" }
            };
        textColumn = Model.GetValue<string>("textColumn");
        column = columnClasses[textColumn];
        if (Model.HasValue("iFrameUrl")) {
            iFrameUrl = Model.GetValue<string>("iFrameUrl");
            if (textColumn != "Fuld kolonne" && !string.IsNullOrEmpty(iFrameUrl)) {
                column = "col-sm-6";
            }
        }
    }

    var name = "";
    var urlName = "";
    if (Model.HasValue("name")) {
        name = Model.GetValue<string>("name");
        urlName = name.ToNiceUrl();
    }
    var bgImage = "";
    if (Model.HasValue("backgroundImage")) {
        bgImage = Model.GetValue<IPublishedContent>("backgroundImage").Url;
    }
}
@{
    var iFrameWidth = "";
    var iFrameHeight = "";
    if (Model.HasValue("iFrameWidth")) {
        iFrameWidth = Model.GetValue<string>("iFrameWidth");
    }
    if (Model.HasValue("iFrameHeight")) {
        iFrameHeight = Model.GetValue<string>("iFrameHeight");
    }
}
<div class="all-around-box @colorClass section-box @(Model.GetValue<bool>("hideBgImageForSmallDevices") ? "sm-bg-hide" : "")" id="@urlName" style="background-image:url(@bgImage);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><span class="section-name">@name</span></div>
            @if (textColumn != "Venstre kolonne" && !string.IsNullOrEmpty(iFrameUrl)) {
                <div class="@column">
                    <div class="box-padding">
                        @(Model.GetValue<IHtmlString>("text"))
                    </div>
                </div>
                <div class="col-sm-@(textColumn == "Fuld kolonne" ? "12" : "6")">
                    <iframe src="@iFrameUrl" class="embed-responsive-item" frameborder="0" style="overflow:hidden; width: @(string.IsNullOrEmpty(iFrameWidth) ? "100%" : iFrameWidth);height:@(string.IsNullOrEmpty(iFrameHeight) ? "auto" : iFrameHeight);"></iframe>
                </div>
            } else {
                <div class="@column">
                    <div class="box-padding">
                        @(Model.GetValue<IHtmlString>("text"))
                    </div>
                </div>
            }
            @if (textColumn == "Venstre kolonne" && !string.IsNullOrEmpty(iFrameUrl)) {
                <div class="col-sm-6">
                    <div class="box-padding">
                        <iframe src="@iFrameUrl" class="embed-responsive-item" frameborder="0" width="@iFrameWidth" height="@iFrameHeight" style="overflow:hidden; width: @(string.IsNullOrEmpty(iFrameWidth) ? "100%" : iFrameWidth);height:@(string.IsNullOrEmpty(iFrameHeight) ? "auto" : iFrameHeight);"></iframe>
                    </div>
                </div>
            }
        </div>
    </div>
</div>