﻿@using MorsoeForsyning.Utilities
@model Archetype.Models.ArchetypeFieldsetModel
@{
    var colorClass = "content-gray dark";
    if (Model.HasValue("colorScheme")) {
        var colorClasses = new Dictionary<string, string>() {
                { "0c589d", "content-blue light" },
                { "e6e6e6", "content-gray dark" },
                { "ffffff", "content-white dark" },
                { "808080", "content-dark-gray light" }
            };
        var colorScheme = Model.GetValue<string>("colorScheme");
        colorClass = colorClasses[colorScheme];
    }
    var column = "col-sm-12";
    var textColumn = "";
    IPublishedContent imageFigure = null;
    if (Model.HasValue("textColumn")) {
        var columnClasses = new Dictionary<string, string>() {
                { "Venstre kolonne", "col-sm-6" },
                { "Fuld kolonne", "col-sm-12" },
                { "Højre kolonne", "col-md-offset-6 col-md-6" }
            };
        textColumn = Model.GetValue<string>("textColumn");
        column = columnClasses[textColumn];
        if (Model.HasValue("imageFigure")) {
            imageFigure = Model.GetValue<IPublishedContent>("imageFigure");
            if (imageFigure.HasValue("umbracoFile") && textColumn == "Højre kolonne") {
                if (textColumn == "Højre kolonne") {
                    column = "col-sm-6";
                }
            }
        }
    }

    var name = "";
    var urlName = "";
    if (Model.HasValue("name")) {
        name = Model.GetValue<string>("name");
        urlName = name.ToNiceUrl();
    }
    var bgImage = "";
    if (Model.HasValue("backgroundImage")) {
        bgImage = Model.GetValue<IPublishedContent>("backgroundImage").GetResponsiveImageUrl(1920, 1080);
    }
    var stackButtons = true;
    if (Model.HasValue("buttonsNotStacked")) {
        stackButtons = !Model.GetValue<bool>("buttonsNotStacked");
    }
}
<div class="all-around-box @colorClass section-box @(Model.GetValue<bool>("hideBgImageForSmallDevices") ? "sm-bg-hide" : "")" id="@urlName" style="background-image:url(@bgImage);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><span class="section-name">@name</span></div>
            @if (textColumn != "Venstre kolonne" && imageFigure != null && imageFigure.HasValue("umbracoFile")) {
                <div class="col-sm-@(textColumn == "Fuld kolonne" ? "12" : "6")">
                    <div class="box-padding">
                        <img src="@imageFigure.Url" class="img-responsive" alt="@imageFigure.Name" />
                    </div>
                </div>
            }
            <div class="@column">
                <div class="box-padding">
                    @(Model.GetValue<IHtmlString>("text"))
                </div>
                @if (Model.HasValue("buttons")) {
                    var links = Model.GetValue<RJP.MultiUrlPicker.Models.MultiUrls>("buttons");
                    if (stackButtons) {
                        foreach (var item in links) {
                            <a href="@item.Url" target="@item.Target" class="lir">@item.Name</a>
                            <br />
                            <br />
                        }
                    } else {
                        foreach (var item in links) {
                            <a href="@item.Url" target="@item.Target" class="lir">@item.Name</a>
                        }
                    }
                }
            </div>
            @if (textColumn == "Venstre kolonne" && imageFigure != null && imageFigure.HasValue("umbracoFile")) {
                <div class="col-sm-6">
                    <div class="box-padding">
                        <img src="@imageFigure.Url" class="img-responsive" alt="@imageFigure.Name" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>