﻿@using MorsoeForsyning.Utilities
@model Archetype.Models.ArchetypeFieldsetModel

@{
    var colorClass = "content-gray dark";
    if (Model.HasValue("colorScheme")) {
        var colorClasses = new Dictionary<string, string>() {
                { "0c589d", "content-blue light" },
                { "e6e6e6", "content-gray dark" },
                { "ffffff", "content-white dark" },
                { "808080", "content-dark-gray light" }
            };
        var colorScheme = Model.GetValue<string>("colorScheme");
        colorClass = colorClasses[colorScheme];
    }
    var name = "";
    var urlName = "";
    if (Model.HasValue("name")) {
        name = Model.GetValue<string>("name");
        urlName = name.ToNiceUrl();
    }
}

<div class="all-around-box @colorClass section-box" id="@urlName">
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><span class="section-name">@name</span></div>
            <div class="col-sm-12">
                @if (Model.HasValue("text")) {
                    <div class="box-padding">
                        @(Model.GetValue<IHtmlString>("text"))
                    </div>
                }
            </div>
            @if (Model.HasValue("pdfCategorizer")) {
                foreach (var item in Model.GetValue<Archetype.Models.ArchetypeModel>("pdfCategorizer")) {
                    <div class="col-sm-3">
                        @if (item.HasValue("name")) {
                            <h3>@(item.GetValue<string>("name"))</h3>
                        }
                        <select class="multi-seelect pdf-categorizer">
                            <option value="" selected disabled>@(item.HasValue("defaultText") ? item.GetValue<string>("defaultText") : "Vælg...")</option>
                            @if (item.HasValue("links")) {
                                foreach (var link in item.GetValue<RJP.MultiUrlPicker.Models.MultiUrls>("links")) {
                                    <option value="@link.Url">@link.Name</option>
                                }
                            }
                        </select>
                    </div>
                }
            }
        </div>
    </div>
</div>