﻿@using MorsoeForsyning.Utilities
@model Archetype.Models.ArchetypeFieldsetModel
@{
    var colorClass = "content-gray dark";
    if (Model.HasValue("colorScheme")) {
        var colorClasses = new Dictionary<string, string>() {
                { "0c589d", "content-blue light" },
                { "e6e6e6", "content-gray dark" },
                { "ffffff", "content-white dark" },
                { "808080", "content-dark-gray light" }
            };
        var colorScheme = Model.GetValue<string>("colorScheme");
        colorClass = colorClasses[colorScheme];
    }
    var name = "";
    var urlName = "";
    if (Model.HasValue("name")) {
        name = Model.GetValue<string>("name");
        urlName = name.ToNiceUrl();
    }
}

<div class="relocation @colorClass section-box" id="@urlName">
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><span class="section-name">@name</span></div>
            <div class="col-sm-12">
                <div class="box-padding">
                    @if (Model.HasValue("text")) {
                        @(Model.GetValue<IHtmlString>("text"))
                    }
                    <span class="remember-all">
                        Alle felter er obligatoriske
                    </span>
                </div>
            </div>
            @using (Html.BeginUmbracoForm<MorsoeForsyning.Controllers.RelocationController>("Index")) {
                <div class="col-sm-6">
                    <h3>Forbrugssted</h3>
                    <div class="form-group">
                        <input type="text" class="form-control" name="currentPlaceAddress" required placeholder="Indtast adresse">
                        <input type="text" class="form-control" name="currentPlaceZipCode" required placeholder="Indtast postnummer">
                        <input type="text" class="form-control" name="currentPlaceCity" required placeholder="Indtast bynavn">
                    </div>
                    <h3>Fraflytter</h3>
                    <div class="form-group">
                        <input type="text" class="form-control" name="vacatingName" required placeholder="Indtast navn">
                        <input type="text" class="form-control" name="vacatingNewAddress" required placeholder="Indtast ny adresse">
                        <input type="text" class="form-control" name="vacatingNewZipCode" required placeholder="Indtast nyt postnummer">
                        <input type="text" class="form-control" name="vacatingNewCity" required placeholder="Indtast ny bynavn">
                        <input type="text" class="form-control" name="vacatingIdentification" required placeholder="Indtast CPR/CVR nummer">
                        <input type="text" class="form-control" name="vacatingPhone" required placeholder="Indtast telefonnummer">
                        <input type="text" class="form-control" name="vacatingEmail" required placeholder="Indtast mailadresse">
                    </div>
                </div>
                <div class="col-sm-6">
                    <h3>Aflæsning</h3>
                    <div class="form-group">
                        <input type="text" class="form-control" name="readingMeterNumber" required placeholder="Indtast målernummer">
                        <input type="text" class="form-control" name="reading" required placeholder="Indtast aflæsning">
                        <input type="text" class="form-control" name="acqusitionDate" required placeholder="Indtast overtagelsesdato">
                    </div>
                    <h3>Tilflytter</h3>
                    <div class="form-group">
                        <input type="text" class="form-control" name="incomingName" required placeholder="Indtast navn">
                        <input type="text" class="form-control" name="incomingPreviousAddress" required placeholder="Indtast tidligere adresse">
                        <input type="text" class="form-control" name="incomingPreviousZipCode" required placeholder="Indtast tidligere postnummer">
                        <input type="text" class="form-control" name="incomingPreviousCity" required placeholder="Indtast tidligere bynavn">
                        <input type="text" class="form-control" name="incomingIdentification" required placeholder="Indtast CPR/CVR nummer">
                        <input type="text" class="form-control" name="incomingPhone" required placeholder="Indtast telefonnummer">
                        <input type="text" class="form-control" name="incomingEmail" required placeholder="Indtast mailadresse">
                    </div>
                </div>
                <div class="col-sm-2 col-sm-offset-5">
                    <button type="submit" class="send">Send</button>
                </div>
            }
        </div>
        <div class="col-sm-8 col-sm-offset-2 text-center box-padding">
            <p>Vi beder dig indtaste dit cpr nummer, fordi vi bruger det til at validere dine oplysninger. Dit cpr nummer bliver ikke videregivet eller oplyst til tredjepart.</p>
        </div>
    </div>
</div>