﻿body {
}

.authenticate-header img {
    width: 100%;
}
.authenticate-header {
    background: #0C589D;
    padding: 25px;
}

.authenticate .form-group input[type="password"] {
    padding: 20px;
    font-size: 1.2em;
    border-radius: 0;
}

.authenticate .form-group input[type="submit"]{
    padding: 10px;
    background: none;
    border: #cecece 2px solid;
    width: 100%;
    transition: 0.2s background, 0.2s border, 0.2s color;
}
.authenticate .form-group input[type="submit"]:hover {
    background: #0C589D;
    border: #0C589D 2px solid;
    color: #fff;
}

.authenticate .alert {
    margin-top: 15px;
    border-radius: 0;
}