



/**umb_name:Overskrift 1*/
h1{}

/**umb_name:Overskrift 2*/
h2{}

/**umb_name:Overskrift 3*/
h3{}

/**umb_name:Overskrift 4*/
h4{}



/**umb_name:Knap*/
span.lir{border-color: #0c589d;
border-radius: 30px;
padding: 10px 25px;
color: #0c589d;
margin-top: 25px;
display: inline-block;
margin-right: 10px;}

/**umb_name:Info-tekst*/
span.info{color: #0c589d;
font-weight: 600;
font-size: 16px;
display: block;
margin-bottom: 15px;}