﻿.lir, .multi-link li a {
  border: 1px solid #fff;
  transition: all 0.2s;
}

.lir, body, p {
  font-size: 17px;
}

.company-info, .multi-seelect {
  margin-bottom: 25px;
}

.lir, .lir:hover, .multi-link li a {
  transition: all 0.2s;
}

#filters .button:focus, .multi-seelect:focus {
  outline: 0;
}

.all-around-box, .profile-snippet, .topics .bg {
  background-position: center, center;
}

.profile-snippet, .quick-links {
  background-attachment: fixed;
  background-size: cover;
}

.copyright, .footer, .header .menu-1 ul, .header .menu-2 ul li, .last-news .news-item .content, .profile-snippet, .quick-links .container, .search, .topics .topic-item h2, .topics .topic-item p, .topics .topic-item-1 .status, body {
  font-family: Dosis, sans-serif;
}

body {
  height: 100%;
  min-height: 100%;
}

.body-open {
  position: fixed;
  width: 100%;
}

.light {
  color: #fff;
}

.dark {
  color: #000 !important;
}

.dark h3 {
  color: #0c589d;
}

h3 {
  margin-top: 0;
}

iframe {
  width: 100% !important;
  overflow-x: hidden;
}

.lir {
  border-radius: 30px;
  padding: 10px 25px;
  color: #fff;
  margin-top: 25px;
  display: inline-block;
  margin-right: 10px;
  font-weight: 400;
  text-decoration: none !important;
}

.lir:hover, .multi-seelect {
  background-color: #fff;
  color: #000;
}

.lir:hover {
  text-decoration: none;
}

.multi-seelect {
  width: 100%;
  border: none;
  border-radius: 30px;
  padding: 15px 20px;
}

.company-info h3 {
  margin-bottom: 15px;
}

.company-info span {
  display: block;
  margin-bottom: 10px;
}

.content-blue h2, .content-gray h2, .content-white h2 {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 700;
}

.content-white {
  background-color: #fff !important;
}

.content-white .news-item .content {
  background-color: #f1f1f1 !important;
}

.content-white .lir {
  border-color: #0c589d;
  color: #0c589d;
}

.content-white .lir:hover {
  color: #fff;
  background-color: #0c589d;
}

.content-white .lir:hover a {
  color: #fff;
}

.content-white .form-control {
  background-color: #e0e0e0 !important;
}

.content-white .multi-seelect {
  background-color: #f3f3f3 !important;
}

.content-white .info {
  color: #0c589d;
}

.content-white .item a {
  color: #333;
  text-decoration: underline;
}

.content-white .item a:hover {
  color: #333;
}

.content-gray {
  background-color: #e6e6e6;
  color: #000;
}

.content-gray .lir {
  border-color: #0c589d;
  color: #0c589d;
}

.content-gray .lir:hover {
  color: #fff;
  background-color: #0c589d;
}

.content-gray .lir:hover a {
  color: #fff;
}

.content-gray .info, .content-gray h3 {
  color: #0c589d;
}

.content-gray .item a {
  color: #333;
  text-decoration: underline;
}

.content-gray .item a:hover {
  color: #333;
}

.content-blue {
  background-color: #0c589d;
  color: #fff;
}

.content-blue .lir {
  border-color: #fff;
  color: #fff;
  text-decoration: none !important;
}

.content-blue .lir:hover {
  color: #000;
  background-color: #fff;
}

.content-blue .lir:hover a {
  color: #000;
}

.content-blue a, .content-dark-gray a {
  color: #fff;
  text-decoration: underline;
}

.content-dark-gray {
  background-color: grey !important;
}

.copyright a:hover, .footer ul li a:hover, .header .menu-1 ul li a:hover, .mobil-menu .menu-1 li a:hover, .mobil-menu .submenu li a:hover, .multi-link li a:hover, .quick-links .link:hover {
  text-decoration: none;
}

.content-dark-gray h2, .content-dark-gray h3 {
  color: #fff !important;
}

.content-dark-gray .relocation .send {
  background-color: #0c589d;
}

.relocation .height-50 {
  height: 50px;
}
@media (max-width: 480px) {
  .relocation .height-50 {
    height: auto;
  }
  .relocation .height-50 p {
    margin-top: -30px;
    margin-bottom: 30px;
  }
}
.relocation .alert.alert-success {
  margin-top: 15px;
  margin-bottom: 0px;
  border-radius: 0px;
  padding-left: 25px;
  padding-right: 25px;
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1000px;
  z-index: 3;
  -webkit-box-shadow: 0px 4px 25px -7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 25px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 25px -7px rgba(0, 0, 0, 0.2);
}
.relocation .alert.alert-success .close {
  font-size: 2em;
  position: absolute;
  right: 5px;
  top: 5px;
}

.content-dark-gray .send {
  background-color: #fff !important;
  color: #0c589d !important;
}

ol {
  padding: 0 0 0 15px;
}

.multi-link {
  padding: 0;
  list-style: none;
}

.multi-link li {
  float: left;
  margin-right: 15px;
}

.multi-link li a {
  color: #fff;
  border-radius: 30px;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 25px;
  display: inline-block;
}

.multi-link li a:hover {
  background-color: #fff;
  color: #000;
  transition: all 0.2s;
}

#introduktion {
  padding-bottom: 70px !important;
}

.all-around-box {
  width: 100%;
  padding: 0 0 70px !important;
  font-size: 17px;
  position: relative;
  background-size: cover;
}

.all-around-box h2 {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 40px;
}

.all-around-box h3 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 35px;
}

.all-around-box .lir {
  margin-top: 0;
}

.all-around-box .container img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-link {
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 10px 15px;
}

.link-bar {
  width: 100%;
  padding: 25px;
}

.link-bar .lir {
  margin-top: 15px;
}

.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right, .carousel-fade .carousel-inner .item {
  opacity: 0;
}

.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right, .carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev {
  left: 0;
  transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
  z-index: 2;
}

.header {
  width: 100%;
  height: 70vh;
  position: relative;
  overflow: hidden;
}

.header .menu-icon {
  float: right;
  margin-top: 50px;
  margin-right: 25px;
  cursor: pointer;
  display: inline-block;
}

.header .menu-icon span {
  display: block;
  width: 40px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 12px;
}

.header .menu-icon span:last-child {
  margin-bottom: 0;
}

.header .menu-1 {
  width: 100%;
  height: 120px;
  background-color: rgba(12, 89, 157, 0.9);
}

.header .menu-1 .logo {
  width: 250px;
  margin: 30px 0 0 25px;
}

.header .menu-1 ul {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0 25px 0 0;
  line-height: 120px;
}

.header .menu-1 ul li {
  float: left;
  margin-left: 35px;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.header .menu-1 ul li a {
  color: #fff;
}

.header .menu-1 ul li i {
  margin-left: 5px;
}

.header .menu-2 {
  width: 100%;
  height: 45px;
  background-color: rgba(127, 127, 127, 0.9);
  border-radius: 0 0 10px 10px;
}

.header .menu-2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 45px;
}

.header .menu-2 ul li {
  font-weight: 600;
  font-size: 17px;
}

.header .menu-2 ul li a {
  color: #fff;
  cursor: pointer;
}

.header .menu-2 .info {
  float: left;
  margin-left: 25px;
}

.header .menu-2 .info li {
  float: left;
  margin-right: 25px;
}

.header .menu-2 .sub-menu {
  float: right;
  margin-right: 25px;
}

.header .menu-2 .sub-menu li {
  float: left;
  margin-left: 25px;
}

.header .carousel {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.header .carousel .carousel-inner {
  height: 70vh;
}

.header .carousel .carousel-inner .item {
  height: 70vh;
  background-size: cover;
  background-position: center, center;
}

.header .carousel .carousel-inner .item img {
  display: none;
}

.mobil-open {
  right: 0 !important;
}

.mobil-menu {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 300px;
  right: -300px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  z-index: 99999;
  transition: all 0.3s;
}

.mobil-menu .close {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #0d599d;
  font-size: 4em;
  display: inline-block;
  font-weight: 400;
}

.mobil-menu .menu-1 {
  list-style: none;
  padding: 0;
  margin-top: 125px;
  margin-bottom: 0;
}

.mobil-menu .menu-1 li {
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
}

.mobil-menu .menu-1 li a {
  width: 100%;
  padding: 20px 0;
  display: block;
  background-color: #0d599d;
  color: #fff;
}

.mobil-menu .menu-1 .search-active {
  padding: 20px 0;
  display: block;
  background-color: #e6e6e6;
  cursor: pointer;
}

.mobil-menu .submenu {
  list-style: none;
  padding: 0;
}

.mobil-menu .submenu li {
  text-align: center;
  font-size: 1.3em;
  border-bottom: 1px solid #e6e6e6;
}

.mobil-menu .submenu li a {
  width: 100%;
  padding: 20px 0;
  display: block;
  background-color: #fff;
  color: #000;
}

.search .container {
  margin-top: 0vh;
  transition: all 1s;
}

.search.activated .container {
  margin-top: 0vh !important;
}

.search-result {
  color: #fff !important;
}

.search-result .search-item {
  margin-bottom: 15px;
  position: relative;
}

.search-result .search-item a {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact {
  margin-bottom: 25px;
}

.contact h3 {
  margin-top: 0;
}

#filters .button {
  background-color: transparent;
  border: none;
}

.employee {
  background-color: #fff;
  border-radius: 25px;
  padding: 25px 20px;
  margin-bottom: 20px;
}

.employee span {
  display: block;
}

.employee .bold {
  font-weight: 600;
}

.topics {
  width: 100%;
  background-color: #cdcdcd;
  min-height: 400px;
  position: relative;
  padding: 35px 0;
}

.topics .frame {
  margin-top: -130px;
}

.topics .bg {
  background-image: url(/img/super-graf-1.png);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.topics .topic-item {
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 25px;
  position: relative;
}

.topics .topic-item a {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.topics .topic-item h2 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  color: #0c589d;
}

.topics .topic-item p {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 16px;
}

.topics .topic-item i {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #0c589d;
  font-size: 22px;
}

.topics .topic-item-1 {
  background-color: #fff;
}

.topics .topic-item-1 .smiley {
  vertical-align: top;
  margin-top: 15px;
  height: 60px;
}

.topics .topic-item-1 .status {
  display: inline-block;
  width: 50%;
  margin-left: 15px;
  font-size: 16px;
  margin-top: 15px;
}

.topics .topic-item-2 {
  background-color: grey;
  color: #fff;
}

.topics .topic-item-2 h2, .topics .topic-item-2 i, .topics .topic-item-2 p {
  color: #fff;
}

.topics .smiley {
  height: 60px;
}

.newsletter-bar {
  background-color: #0c589d;
  width: 100%;
  padding: 45px 0;
  color: #fff;
  font-family: Dosis, sans-serif;
}

.newsletter-bar h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  padding-right: 60px;
}

.newsletter-bar .form-group {
  position: relative;
  margin: 0;
  font-size: 18px;
}

.newsletter-bar input {
  width: 100%;
  height: 47px;
  font-size: 18px;
  border-radius: 30px;
  padding-left: 25px;
  background-color: #cdcdcd;
}

.newsletter-bar input::-webkit-input-placeholder {
  color: #0c589d;
}

.newsletter-bar .btn {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 17px;
  background-color: grey;
  color: #fff;
  border-radius: 30px;
  padding: 0 35px;
  font-weight: 600;
  height: 39px;
}

.container-fluid {
  padding: 0;
}

.dropdown-paragraph-chooser {
  color: #000;
}

.profile-snippet {
  width: 100%;
  position: relative;
  padding: 7% 0;
  background-image: url(/img/test-img-1.jpg);
  color: #fff;
}

.profile-snippet h1 {
  font-size: 44px;
  font-weight: 700;
  margin: 0;
}

.profile-snippet p {
  font-size: 16px;
}

.all-around-box.profile-snippet {
  padding: 0 0 30px;
}

.last-news {
  background-color: #cdcdcd;
  width: 100%;
  padding: 60px 0 30px;
}

.last-news .news-item {
  position: relative;
  margin-bottom: 30px;
}

.last-news .news-item img {
  border-radius: 10px 10px 0 0;
}

.last-news .news-item a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}

.last-news .news-item .content {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 25px;
  min-height: 215px;
  position: relative;
}

.left-menu, .left-menu .box {
  border-radius: 0 10px 10px 0;
}

.last-news .news-item .content h3 {
  color: #0c589d;
  font-size: 22px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 20px;
}

.last-news .news-item .content p {
  font-size: 16px;
}

.last-news .news-item .content i {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #0c589d;
  font-size: 22px;
}

.site-wrapper {
  display: table;
  width: 100%;
  min-height: 100%;
}

.site-wrapper .site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}

table {
  width: 100%;
  max-width: 100%;
}

.quick-links {
  background-image: url(/img/light-bg.jpg);
  width: 100%;
  padding: 160px 0;
  position: relative;
  background-position: top, bottom;
}

.quick-links .bg {
  background-image: url(/img/super-graf-2.png);
  height: 100%;
  width: 100%;
  background-position: center, center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.quick-links .link {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 15px;
  display: block;
}

.quick-links .link:after {
  content: ">";
  margin-left: 10px;
}

.quick-links .container {
  position: relative;
  z-index: 3;
  color: #fff;
}

.quick-links h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 35px;
}

.quick-links h3 {
  font-size: 26px;
  margin-bottom: 25px;
}

.footer {
  width: 100%;
  padding: 50px;
  background-color: grey;
  color: #fff;
}

.footer h3 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 25px;
}

.copyright a, .footer p, .footer ul {
  font-size: 17px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer ul li {
  margin-bottom: 20px;
}

.footer ul li a {
  color: #fff;
}

.footer ul li i {
  margin-right: 10px;
}

.copyright {
  width: 100%;
  height: 40px;
  background-color: #5a5a5a;
}

.copyright a {
  line-height: 40px;
  color: #b3b3b3;
  transition: all 0.2s;
}

.copyright a:hover {
  color: #fff;
  transition: all 0.2s;
}

.box-padding {
  padding: 35px 0 0;
}

.section-name {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  display: block;
}

.section-name:before {
  content: ">";
  margin-right: 5px;
}

.left-menu .line:after, .sub-menu .line:after {
  content: "";
  transform: rotate(-45deg);
}

.sub-menu .page-title {
  font-weight: 700;
  color: #0c589d;
  font-size: 26px;
  margin: 0 0 8px;
}

.sub-menu .line {
  width: 50%;
  height: 1px;
  background-color: #000;
  position: relative;
}

.sub-menu .line:after {
  width: 18px;
  height: 18px;
  position: absolute;
  background-color: #e6e6e6;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  top: -8px;
  margin-left: 50%;
}

.sub-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 45px;
  font-size: 18px;
}

.sub-menu ul .active a {
  color: #000;
  font-weight: 700;
}

.sub-menu ul li {
  margin-bottom: 10px;
}

.sub-menu ul li a {
  color: #9a9a9a;
  font-weight: 600;
  cursor: pointer;
}

.active-left {
  left: -264px !important;
  transition: all 0.4s;
}

.left-menu {
  position: fixed;
  transition: all 0.4s;
  top: 20%;
  left: -300px;
  width: 300px;
  height: auto;
  background: linear-gradient(#0c589d, #023d72);
  color: #fff;
  cursor: pointer;
  z-index: 999999;
}

.left-menu .page-title {
  font-weight: 700;
  font-size: 26px;
  margin: 0 0 8px;
  color: #fff;
}

.left-menu .line {
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: relative;
}

.left-menu .line:after {
  width: 18px;
  height: 18px;
  position: absolute;
  background-color: #0c589d;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  top: -8px;
  margin-left: 50%;
}

.left-menu .box {
  background-color: #0c589d;
  height: 100%;
  width: calc(100% - 45px);
  padding: 15px;
}

.left-menu .menu-btn {
  position: absolute;
  top: 20px;
  right: 5px;
  font-weight: 600;
  font-size: 16px;
  transform: rotate(-90deg);
}

.left-menu ul {
  list-style: none;
  font-size: 18px;
  margin-top: 15px;
  padding: 0;
}

.left-menu ul .active {
  color: #fff;
  font-weight: 700;
  opacity: 1;
}

.left-menu ul li {
  margin-bottom: 10px;
  font-weight: 600;
}

.left-menu ul li a {
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  opacity: 0.4;
}

.left-menu ul li a:hover {
  transition: all 0.3s;
  opacity: 1;
  text-decoration: none;
}

.content-white img {
  display: block;
  max-width: 100%;
  height: auto;
}

.search-results .search-item {
  position: relative;
}

.search-results .search-item a {
  height: 100%;
  display: block;
  width: 100%;
  position: absolute;
}

.relocation {
  width: 100%;
  padding: 0 0 70px;
  font-size: 17px;
  background-color: #e6e6e6;
}

.relocation h2 {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 20px;
}

.relocation h3 {
  font-weight: 700;
  color: #0c589d;
  font-size: 24px;
  margin-bottom: 25px;
}

.relocation .info {
  color: #0c589d;
  font-weight: 600;
  font-size: 24px;
  display: block;
  margin-bottom: 15px;
}

.relocation .form-group .form-control {
  height: 50px;
  font-size: 17px;
  border: none;
  border-radius: 30px;
  padding-left: 25px;
  color: #0c589d;
  margin-bottom: 15px;
}

.relocation .form-group label {
  color: #333;
  opacity: 0.7;
}

.relocation .form-group .form-control:last-child {
  margin-bottom: 30px;
}

.relocation .form-group .form-control::-webkit-input-placeholder {
  color: #0c589d;
}

.relocation .form-group .form-control:focus {
  box-shadow: none;
}

.relocation .send {
  width: 100%;
  background-color: grey;
  border-radius: 30px;
  color: #fff;
  border: none;
  padding: 10px 25px;
  font-weight: 600;
}

.preeForm .remember-all {
  margin-bottom: 15px;
  display: block;
  margin-top: 30px;
}
.preeForm .form-group label {
  color: inherit;
  opacity: 1;
}
.preeForm .form-group .form-control {
  margin-bottom: 30px !important;
}
.preeForm .form-group .form-control:last-child {
  margin-bottom: 15px;
}
.preeForm .form-group .box-frame {
  border: 1px solid inherit;
  padding: 5px;
}

.info-box, .scroll-top {
  position: fixed;
  background-color: #0c589d;
  color: #fff;
}

.employees .item {
  margin-bottom: 25px;
}

.employees .item img {
  margin-bottom: 15px;
}

.employees .item p {
  font-size: 16px;
}

.show-scroll-top {
  opacity: 1 !important;
}

.scroll-top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 1.8em;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all 0.3s;
  z-index: 9999;
  -webkit-box-shadow: 0 6px 19px 0 rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0 6px 19px 0 rgba(0, 0, 0, 0.38);
  box-shadow: 0 6px 19px 0 rgba(0, 0, 0, 0.38);
  cursor: pointer;
}

.info-box, .search, .search-open {
  transition: all 0.4s;
}

.info-box {
  top: 20%;
  right: -300px;
  width: 300px !important;
  border-radius: 0 0 0 10px;
  padding: 15px;
  z-index: 999999;
}

.info-box .info-btn {
  position: absolute;
  background: linear-gradient(#0c589d, #023d72);
  top: 0;
  left: -45px;
  width: 45px;
  height: 45px;
  font-size: 1.5em;
  text-align: center;
  line-height: 45px;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}

.info-box h2 {
  margin: 0 0 10px;
}

.cc_container .cc_logo {
  display: none !important;
}

.cc_container .cc_btn {
  padding: 8px 16px;
  background-color: transparent !important;
  position: absolute;
  left: 15px;
  text-align: center;
  border-radius: 30px !important;
  font-weight: 700;
  border: 1px solid #0c589d;
}

.cc_container .cc_btn:hover {
  background-color: #0c589d !important;
  color: #fff !important;
}

.info-open {
  right: 0 !important;
}

.show-left {
  left: 0 !important;
}

.search-open {
  opacity: 1 !important;
  z-index: 99999 !important;
}

.search {
  background-color: rgba(12, 88, 157, 0.9);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  color: #fff;
  opacity: 0;
  overflow: auto;
  overflow-x: hidden;
}

.search .close {
  color: #fff;
  opacity: 1 !important;
  float: right;
  font-size: 48px;
  margin-top: 13px;
}

.search .container {
  position: relative;
}

.search .search-title {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  margin-bottom: 25px;
}

.search .form-group {
  margin: 0;
  position: relative;
}

.search .form-group input {
  height: 55px;
  border-radius: 30px;
  font-size: 20px;
  padding-left: 25px;
}

.search .form-group input::-webkit-input-placeholder {
  color: #0c589d;
}

.search .form-group .btn {
  position: absolute;
  top: 4px;
  right: 4px;
  border-radius: 30px;
  height: 47px;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  padding: 0 25px;
  background-color: grey;
}

.scroll-to-top {
  display: none;
}

@media (max-width: 768px) {
  .info-box {
    width: 100% !important;
    right: -100% !important;
  }
  .info-box .close-info {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    border: 2px solid #fff;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
  }
  .header, .header .carousel .carousel-inner, .header .carousel .carousel-inner .item {
    height: 80vh;
  }
  .info-box h2 {
    margin-right: 40px;
  }
  .info-open {
    right: 0 !important;
  }
  h1 {
    font-size: 30px;
  }
  .search .form-group .btn {
    display: none;
  }
  .search .search-title {
    font-size: 37px;
    display: inline-block;
    margin-bottom: 25px;
    margin-top: 80px;
  }
  .search .close {
    position: fixed;
    top: 0;
    right: 18px;
    font-size: 30px;
  }
  .info-box {
    top: 30%;
  }
  .header .menu-2 .info li {
    margin-right: 15px;
    font-size: 15px;
  }
  .lir {
    margin-bottom: 15px;
  }
  .mobil-menu {
    width: 100vw;
    right: -100vw;
  }
  .header .menu-1 .logo {
    width: 180px;
    margin-top: 40px;
  }
  .header .menu-2 .info {
    margin-left: 15px;
  }
  .newsletter-bar h3 {
    padding-right: 0;
    padding-bottom: 15px;
  }
  .profile-snippet h1 {
    font-size: 38px;
    margin-bottom: 15px;
  }
  .footer {
    padding: 50px 15px;
  }
  .sm-bg-hide {
    background-image: none !important;
  }
  .topics .topic-item {
    height: auto;
  }
  .quick-links {
    padding: 80px 0;
    text-align: center;
  }
  .left-menu {
    display: none;
  }
  .scroll-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 60px;
    width: 60px;
    background-color: #0c589d;
    color: #fff;
    z-index: 5;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    -webkit-box-shadow: 0 6px 19px 0 rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0 6px 19px 0 rgba(0, 0, 0, 0.38);
    box-shadow: 0 6px 19px 0 rgba(0, 0, 0, 0.38);
    display: block;
    font-size: 20px;
    opacity: 0;
    transition: all 0.3s;
  }
  .show-top {
    opacity: 1;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .sm-bg-hide {
    background-image: none !important;
  }
  .topics .topic-item {
    height: 270px;
  }
  .profile-snippet h1 {
    font-size: 33px;
  }
  .info-box {
    width: 300px !important;
    right: -300px !important;
  }
  .info-open {
    right: 0 !important;
  }
}
.header .item video {
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
@media (max-width: 1000px) {
  .header .item video {
    min-width: 100%;
    height: 100%;
  }
}
