﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
    var imageUrl = "";
    var imageAlt = "";
    bool hasImage = Model.Content.HasValue("introBoxImage");
    if (Model.Content.HasValue("introBoxImage")) {
        var image = Model.Content.GetPropertyValue<IPublishedContent>("introBoxImage");
        if (image.HasValue("umbracoFile")) {
            imageUrl = image.GetResponsiveImageUrl(1600, 1600);
            imageAlt = image.Name;
        }
    }
}

<div class="profile-snippet @(hasImage ? "" : "content-dark-gray")" style="background-image: url(@imageUrl);">
    <img src="@imageUrl" alt="@imageAlt" class="hidden" />
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        @if (Model.Content.HasValue("introBoxHeading")) {
                            <h1>
                                @Html.Raw(library.ReplaceLineBreaks(Model.Content.GetPropertyValue<string>("introBoxHeading")))
                            </h1>
                        }
                    </div>
                    <div class="col-sm-7">
                        @if (Model.Content.HasValue("introBoxText")) {
                            <p>
                                @Html.Raw(library.ReplaceLineBreaks(Model.Content.GetPropertyValue<string>("introBoxText")))
                            </p>
                        }
                        @if (Model.Content.HasValue("introBoxLinks")) {
                            var links = Model.Content.GetPropertyValue<RJP.MultiUrlPicker.Models.MultiUrls>("introBoxLinks");
                            if (links.Any()) {
                                foreach (var link in links) {
                                    <a href="@link.Url" class="lir" target="@link.Target">@link.Name</a>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>