﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{

}

@if (Model.Content.AncestorOrSelf(1).Children.Any(i => i.DocumentTypeAlias == "news")) {
    var latestNews = Model.Content.AncestorOrSelf(1)
    .Children
    .FirstOrDefault(i => i.DocumentTypeAlias == "news")
    .Children
    .Where(i => i.DocumentTypeAlias == "newsArticle" && i.IsVisible() && i.HasValue("publishedDate"))
    .OrderByDescending(i => i.GetPropertyValue<DateTime>("publishedDate"))
    .Take(6)
    .ToList();
    <div class="last-news">
        <div class="container">
            <div class="row">
                @foreach (var item in latestNews) {
                    <div class="col-sm-4">
                        <div class="news-item">
                            <a href="@item.Url"></a>
                            @{
                                var imageUrl = "";
                                var imageAlt = "";
                                if (item.HasValue("thumbnail")) {
                                    var image = item.GetPropertyValue<IPublishedContent>("thumbnail");
                                    if (image.HasValue("umbracoFile")) {
                                        imageUrl = image.GetResponsiveImageUrl(640, 360);
                                        imageAlt = image.Name;
                                    }
                                }
                            }
                            <img class="img-responsive" src="@imageUrl" alt="@imageAlt">
                            <div class="content" data-match-height="news">
                                <i class="fa fa-arrow-right"></i>
                                @if (item.HasValue("publishedDate")) {
                                    var publishedDate = item.GetPropertyValue<DateTime>("publishedDate");
                                    <span class="date">@publishedDate.ToString("dd/MM/yyyy")</span>
                                }
                                @if (item.HasValue("title")) {
                                    <h3>@(item.GetPropertyValue<string>("title"))</h3>
                                }
                                <p>
                                    @if (item.HasValue("excerpt")) {
                                        @(item.GetPropertyValue<string>("excerpt").Truncate(200, "..."))
                                    } else if (item.HasValue("grid")) {
                                        var noHtmlGrid = library.StripHtml(Html.GetGridHtml(item, "grid").ToString());
                                        @(library.TruncateString(noHtmlGrid, 200, "..."))
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                                }
            </div>
        </div>
    </div>
                                }