﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var hiddenDocTypes = new[] { "language", "news", "newsArticle", "errorPages" };
    var navLinks = Umbraco.TypedContentAtRoot()
        .FirstOrDefault(i => i.GetCulture().ToString() == Culture)
        .Children
        .Where(i => i.IsVisible() && !hiddenDocTypes.Contains(i.DocumentTypeAlias))
        .ToList();
}
<div class="mobil-menu">
    <div class="close">x</div>

    <ul class="menu-1">
        @if (Model.Content.HasValue("topNavigationLinks", true)) {
            var links = Model.Content.GetPropertyValue<RJP.MultiUrlPicker.Models.MultiUrls>("topNavigationLinks", true);
            foreach (var item in links) {
                <li><a href="@item.Url" target="@item.Target">@item.Name</a></li>
            }
        }
        <li class="search-active">Søg <i class="fa fa-search"></i></li>
    </ul>

    <ul class="submenu">
        @foreach (var item in navLinks) {
            <li><a href="@item.Url">@item.Name</a></li>
        }
    </ul>
</div>