﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="newsletter-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                @if (Model.Content.HasValue("newsletterText", true))
                {
                    var newsletterText = Model.Content.GetPropertyValue<string>("newsletterText", true);
                    <h3>
                        @Html.Raw(library.ReplaceLineBreaks(newsletterText))
                    </h3>
                }
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <form method="POST" action="//morsoeforsyning.us14.list-manage.com/subscribe/post?u=69f62f6930de031c06f17a3c3&amp;id=e7550f33d3" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                    <div class="form-group">
                        <input type="email" name="EMAIL" class="form-control" id="exampleInputEmail1" placeholder="Indtast din mailadresse">
                        <button class="btn">Tilmeld</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>