﻿@inherits UmbracoTemplatePage

@*@if (Model.Content.HasValue("quicklinksLinks")) {
        var links = Model.Content.GetPropertyValue<RJP.MultiUrlPicker.Models.MultiUrls>("quicklinksLinks");
        if (links.Any()) {
            <div class="quick-links">
                <div class="bg"></div>
                <div class="site-wrapper">
                    <div class="site-wrapper-inner">
                        <div class="container">
                            <div class="row">
                                <h2>Hvad søger du?</h2>
                                @foreach (var item in links) {
                                    <div class="col-sm-4"><a class="link" href="@item.Url" target="@item.Target">@item.Name</a></div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }*@

@if (Model.Content.HasValue("quicklinksSections")) {
    var sections = Model.Content.GetPropertyValue<Archetype.Models.ArchetypeModel>("quicklinksSections");
    if (sections.Any(i => !i.Disabled)) {
        <div class="quick-links">
            <div class="bg"></div>
            <div class="site-wrapper">
                <div class="site-wrapper-inner">
                    <div class="container">
                        <div class="row">
                            <h2>Hvad søger du?</h2>
                            @foreach (var item in sections.Where(i => !i.Disabled)) {
                                var links = item.GetValue<RJP.MultiUrlPicker.Models.MultiUrls>("links");
                                <div class="col-sm-3">
                                    <h3>@(item.GetValue<string>("heading"))</h3>
                                    @foreach (var link in links) {
                                        <a class="link" href="@link.Url" target="@link.Target">@link.Name</a>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}