﻿@model IEnumerable<Umbraco.Core.Models.IPublishedContent>

<div class="row">
    <div class="search-results">
        @foreach (var item in Model) {
            var text = "";
            if (item.HasValue("bodyText")) {
                text = library.TruncateString(library.StripHtml(item.GetPropertyValue<string>("bodyText")), 500, "...");
            } else if (item.HasValue("description")) {
                text = library.TruncateString(library.StripHtml(item.GetPropertyValue<string>("description")), 500, "...");
            } else if (item.HasValue("grid")) {
                text = library.TruncateString(library.StripHtml(Html.GetGridHtml(item, "grid").ToString()), 500, "...");
            }
            <div class="col-sm-12 search-item">
                <a href="@item.Url"></a>
                <h2>@item.Name</h2>
                <p>@text</p>
            </div>
        }
    </div>
</div>