﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var hiddenDocTypes = new[] { "language", "news", "newsArticle", "errorPages" };
    var navLinks = Umbraco.TypedContentAtRoot()
        .FirstOrDefault(i => i.GetCulture().ToString() == Culture)
        .Children
        .Where(i => i.IsVisible() && !hiddenDocTypes.Contains(i.DocumentTypeAlias))
        .ToList();
}
<div class="menu-2">
    <ul class="info">
        @if (Model.Content.HasValue("companyPhone", true)) {
            var phone = Model.Content.GetPropertyValue<string>("companyPhone", true);
            <li><a href="tel:+45@(phone.Replace(" ", ""))">Tlf. @phone</a></li>
        }
        @if (Model.Content.HasValue("companyEmail", true)) {
            var companyEmail = Model.Content.GetPropertyValue<string>("companyEmail", true);
            <li><a href="mailto:@companyEmail">@companyEmail</a></li>
        }
    </ul>
    <ul class="sub-menu hidden-xs hidden-sm">
        @foreach (var item in navLinks) {
            <li><a href="@item.Url">@item.Name</a></li>
        }
    </ul>
</div>