﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="menu-1">
    <a href="/">
        <img class="logo" src="/img/Logo_primaer.png" alt="logo">
    </a>
    <ul class="hidden-xs hidden-sm">
        @if (Model.Content.HasValue("topNavigationLinks", true)) {
            var links = Model.Content.GetPropertyValue<RJP.MultiUrlPicker.Models.MultiUrls>("topNavigationLinks", true);
            foreach (var item in links) {
                <li><a href="@item.Url" target="@item.Target">@item.Name</a></li>
            }
        }
        <li class="search-active">Søg <i class="fa fa-search"></i></li>
    </ul>
    <div class="menu-icon visible-xs visible-sm">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>