﻿@using Slimsy
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var slideshow = Model.Content.GetPropertyValue<Archetype.Models.ArchetypeModel>("slideshow");
}
@if (slideshow.Any()) {
    <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            @foreach (var item in slideshow) {
                var image = item.GetValue<IPublishedContent>("image");
                if (image.HasValue("umbracoFile"))
                {
                    var cropUrl = image.GetCropUrl(width: 1920, height: 900, preferFocalPoint: true, quality: 100);
                    <div class="item @(slideshow.IndexOf(item) < 1 ? "active" : "")" style="background-image:url(@cropUrl)">
                        <img width="100%;" src="@cropUrl" alt="@image.Name">
                    </div>
                }
            }
        </div>
    </div>
}