﻿@inherits UmbracoViewPage<dynamic>
@using Umbraco.Web.Templates
@using Newtonsoft.Json.Linq
@*
    Razor helpers located at the bottom of this file
*@
@if (Model != null && Model.sections != null) {
    var oneColumn = ((System.Collections.ICollection) Model.sections).Count == 1;
    if (oneColumn) {
        foreach (var section in Model.sections) {
            foreach (var row in section.rows) {
                @renderRow(row, true);
            }
        }
    } else {
        <div class="container">
            <div class="row clearfix">
                @foreach (var s in Model.sections) {
                    <div class="col-md-@s.grid column">
                        @foreach (var row in s.rows) {
                            @renderRow(row, false);
                        }
                    </div>
                }
            </div>
        </div>
    }
}
@helper renderRow(dynamic row, bool singleColumn)
{
JObject cfg = row.config;
var wrapperClass = "container";
if (cfg != null) {
    if (cfg.Properties().Any(i => i.Name.ToLower() == "fullWidth".ToLower())) {
        if (cfg.Properties().FirstOrDefault(i => i.Name.ToLower() == "fullWidth".ToLower()).Value.ToString() == "1") {
            wrapperClass = "container-fluid";
        }
    }
}
    <div @RenderElementAttributes(row)>
        @Umbraco.If(singleColumn, "<div class='" + wrapperClass + "'>")
        @Umbraco.If(wrapperClass == "container", "<div class='row clearfix'>")
        @foreach (var area in row.areas) {
            @Umbraco.If(wrapperClass == "container", "<div class='col-md-" + area.grid + " column'>")
            <div @RenderElementAttributes(area)>
                @foreach (var control in area.controls) {
                    if (control != null && control.editor != null && control.editor.view != null) {
                        <text>@Html.Partial("grid/editors/base", (object) control)</text>
                    }
                }
            </div>
                @Umbraco.If(wrapperClass == "container", "</div>")
        }
        @Umbraco.If(wrapperClass == "container", "</div>")
        @Umbraco.If(singleColumn, "</div>")
    </div>
}
@functions {
    public static MvcHtmlString RenderElementAttributes(dynamic contentItem)
    {
        var attrs = new List<string>();
        JObject cfg = contentItem.config;

        if (cfg != null)
            foreach (JProperty property in cfg.Properties()) {
                attrs.Add(property.Name + "=\"" + property.Value.ToString() + "\"");
            }

        JObject style = contentItem.styles;

        if (style != null) {
            var cssVals = new List<string>();
            foreach (JProperty property in style.Properties())
                cssVals.Add(property.Name + ":" + property.Value.ToString() + ";");

            if (cssVals.Any())
                attrs.Add("style=\"" + string.Join(" ", cssVals) + "\"");
        }

        return new MvcHtmlString(string.Join(" ", attrs));
    }
}