﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var meta = Model.Content.GetPropertyValue<SEOChecker.MVC.MetaData>("seo");
    //if (!Request.IsSecureConnection)
    //{
    //    Response.Redirect("https://" + Request.Url.Host + Request.RawUrl);
    //}
}
<!DOCTYPE html>
<html>
<head>
    <!--Import Google Font-->
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,700,500,300,200,600,800' rel='stylesheet' type='text/css'>
    <!--Import bootstrap.css-->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/css/font-awesome.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/css/main.css" media="screen,projection" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Html.Raw(meta.AllTags)

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-N2TSJ8M');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N2TSJ8M"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="scroll-top">
        <i class="fa fa-angle-up"></i>
    </div>
    @if (Model.Content.GetPropertyValue<bool>("activateInfoBox", true))
    {
        <div class="info-box @(Model.Content.DocumentTypeAlias == "frontpage" ? "info-front-open" : "")">
            <div class="info-btn">
                <i class="fa fa-info"></i>
            </div>
            <i class="close-info fa fa-close hidden-sm hidden-md hidden-lg"></i>
            @(Model.Content.GetPropertyValue<IHtmlString>("infoBoxText", true))
        </div>
    }
    <span class="scroll-to-top"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
    @Html.Partial("~/Views/Partials/MobileMenu.cshtml")
    <div class="header">
        <div class="container">
            @Html.Partial("~/Views/Partials/TopMenu.cshtml")
            @Html.Partial("~/Views/Partials/SecondaryMenu.cshtml")
        </div>
        @if (Model.Content.HasValue("slideshow"))
        {
            @Html.Partial("~/Views/Partials/TopSlideshow.cshtml")
        }
    </div>

    <div class="search" id="search-container">
        <div class="bg"></div>
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="search-title">Søg og find hvad du leder efter</span>
                            <i class="fa fa-times close"></i>
                            <br>
                            <div class="form-group">
                                <input type="text" class="form-control" id="search-input-string" placeholder="Hvad leder du efter?">
                                <button class="btn">Søg</button>
                            </div>
                        </div>
                    </div>
                    <div id="list-search-results">

                    </div>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    @if (Model.Content.HasValue("footerLeftHeading", true))
                    {
                        <h3>@Html.Raw(Model.Content.GetPropertyValue<string>("footerLeftHeading", true))</h3>
                    }
                    @if (Model.Content.HasValue("footerLeftParagraph", true))
                    {
                        <p>
                            @Html.Raw(library.ReplaceLineBreaks(Model.Content.GetPropertyValue<string>("footerLeftParagraph", true)))
                        </p>
                    }
                </div>
                <div class="col-sm-4">
                    @if (Model.Content.HasValue("footerRightHeading", true))
                    {
                        <h3>@(Model.Content.GetPropertyValue<string>("footerRightHeading", true))</h3>
                    }
                    <ul>
                        @if (Model.Content.HasValue("companyStreet", true) || Model.Content.HasValue("companyZipCode", true) || Model.Content.HasValue("companyCity", true))
                        {
                            <li><i class="fa fa-home"></i>@(Model.Content.GetPropertyValue<string>("companyStreet", true)), @(Model.Content.GetPropertyValue<string>("companyZipCode", true)) @(Model.Content.GetPropertyValue<string>("companyCity", true))</li>
                        }
                        @if (Model.Content.HasValue("companyPhone", true))
                        {
                            var phone = Model.Content.GetPropertyValue<string>("companyPhone", true);
                            <li>
                                <i class="fa fa-phone"></i><a href="tel:+45@(phone.Replace(" ", ""))">@phone</a>
                            </li>
                        }
                        @if (Model.Content.HasValue("companyEmail", true))
                        {
                            var email = Model.Content.GetPropertyValue<string>("companyEmail", true);
                            <li><i class="fa fa-envelope-o"></i><a href="mailto:@email">@email</a></li>
                        }
                        @if (Model.Content.HasValue("vat", true))
                        {
                            <li>CVR: @(Model.Content.GetPropertyValue<string>("vat", true))</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <a href="/">© Morsø Forsyning |</a> <a target="_blank" href="http://www.konggulerod.dk/">Kong Gulerod Reklamebureau</a>
                </div>
            </div>
        </div>
    </div>
    @*<script type="text/javascript" src="/scripts/jquery.min.js"></script>*@
    <script type="text/javascript" src="~/scripts/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        window.slimmage = { verbose: false };
    </script>
    <script src="/scripts/slimmage.min.js"></script>
    <script src="~/scripts/Equal.js"></script>
    <script src="~/scripts/calcform.js"></script>
    <script type="text/javascript" src="/scripts/all.js"></script>
    @RenderSection("ExtraScripts", false)
    <script>
        $('.multi-seelect.pdf-categorizer')
            .change(function () {
                var url = $(this).val();
                window.open(url, '_blank');
            });
    </script>
    <script>
        $('.dropdown-paragraph-chooser')
            .change(function () {
                var value = $(this).val();
                $("#" + value).parent().children().addClass("hidden");
                $("#" + value).removeClass("hidden");
            });
    </script>
    <script>
        $("#search-input-string")
            .keyup(function (e) {
                if (e.keyCode <= 90 && e.keyCode >= 48) {
                    var text = $(this).val();
                    if ($("#search-container").hasClass("activated") === false) {
                        $("#search-container").addClass("activated");
                    }
                    setTimeout(function () {
                        $.ajax({
                            method: 'GET',
                            url: '/umbraco/surface/search/index?q=' + text,
                            success: function (data) {
                                $("#list-search-results").html($(data));
                            }
                        });
                    },
                        1000);
                }
            });
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
    @if (Model.Content.HasValue("cookies", true))
    {
        <script>
            window.cookieconsent_options = {
                learnMore: '',
                expiryDays: '14',
                message: '@(Model.Content.GetPropertyValue<IHtmlString>("cookies", true))',
                dismiss: '@(Model.Content.GetPropertyValue<string>("cookieLink", true))'
            };
        </script>
    }
    <div id="cookieBanner"></div>
</body>
</html>
