﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
}
<div class="box-padding">
    <div class="content-white all-around-box">
        @if (Model.Content.DocumentTypeAlias != "newsArticle")
        {
            if (Model.Content.Parent != null && Model.Content.Parent.DocumentTypeAlias != "language")
            {
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12"><span class="section-name"><a href="@Model.Content.Parent.Url">Tilbage til @Model.Content.Parent.Name</a></span></div>
                    </div>
                </div>
            }
        }
        @Html.GetGridHtml(Model.Content, "grid")
    </div>
</div>
@Html.Partial("~/Views/Partials/NewsletterBar.cshtml")