﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
}
@if (Model.Content.HasValue("quicklinkBoxes")) {
    <div class="topics">
        <div class="bg"></div>
        <div class="container frame">
            <div class="row">
                @foreach (var item in Model.Content.GetPropertyValue<Archetype.Models.ArchetypeModel>("quicklinkBoxes").Where(i => !i.Disabled)) {
                    var name = item.GetValue<string>("name");
                    var linkUrl = "";
                    var linkTarget = "";
                    if (item.HasValue("link")) {
                        var link = item.GetValue<RJP.MultiUrlPicker.Models.MultiUrls>("link");
                        linkUrl = link.FirstOrDefault().Url;
                        linkTarget = link.FirstOrDefault().Target;
                    }
                    var text = "";
                    if (item.HasValue("text")) {
                        text = item.GetValue<string>("text");
                        text = library.ReplaceLineBreaks(text);
                    }
                    var colorClass = "topic-item-1";
                    if (item.GetValue<string>("color") == "808080") {
                        colorClass = "topic-item-2";
                    }
                    <div class="col-sm-4">
                        <div class="topic-item @colorClass" data-match-height="quicklink">
                            @if (!string.IsNullOrEmpty(linkUrl)) {
                                <a href="@linkUrl" target="@linkTarget"></a>
                                <i class="fa fa-arrow-right"></i>
                            }
                            <h2>@name</h2>
                            @if (item.HasValue("icon")) {
                                var icon = item.GetValue<IPublishedContent>("icon");
                                if (icon.HasValue("umbracoFile")) {
                                    <img class="smiley" src="@icon.Url" alt="@icon.Name" />
                                    <span class="status">
                                        @Html.Raw(text)
                                    </span>
                                } else {
                                    <p>@Html.Raw(text)</p>
                                }
                            } else {
                                <p>@Html.Raw(text)</p>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
@Html.Partial("~/Views/Partials/NewsletterBar.cshtml")
@Html.Partial("~/Views/Partials/IntroBox.cshtml")
@Html.Partial("~/Views/Partials/LatestNews.cshtml")
@Html.Partial("~/Views/Partials/QuicklinksSection.cshtml")