﻿@using MorsoeForsyning.Utilities
@using System.Globalization
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
    var menuItems = new List<Archetype.Models.ArchetypeFieldsetModel>();
    if (Model.Content.HasValue("modules")) {
        foreach (var item in Model.Content.GetPropertyValue<Archetype.Models.ArchetypeModel>("modules")
            .Where(i => !i.Disabled && i.HasValue("showInContextMenu") && i.GetValue<bool>("showInContextMenu"))) {
            menuItems.Add(item);
        }
    }
}
<div class="left-menu">
    <span class="menu-btn">Menu</span>
    <div class="box sub-menu">
        <h2 class="page-title">Selvbetjening</h2>
        <div class="line"></div>
        <ul>
            <li><a id="introduktionlink">Introduktion</a></li>
            @foreach (var item in menuItems) {
                var urlName = "";
                var name = "";
                if (item.HasValue("name")) {
                    name = item.GetValue<string>("name");
                    urlName = name.ToNiceUrl();
                }
                <li><a id="@(urlName + "link")">@name</a></li>
            }
        </ul>
    </div>
</div>
<div class="content-gray box-padding" id="introduktion">
    <div class="container">
        <div class="row">
            @if (menuItems.Any()) {
                <div class="col-sm-5">
                    <div class="sub-menu">
                        @if (Model.Content.HasValue("title")) {
                            <h1 class="page-title">@(Model.Content.GetPropertyValue<string>("title"))</h1>
                        }
                        <div class="line"></div>
                        <ul>
                            <li class="active"><a id="introduktionlink">Introduktion</a></li>
                            @foreach (var item in menuItems) {
                                var urlName = "";
                                var name = "";
                                if (item.HasValue("name")) {
                                    name = item.GetValue<string>("name");
                                    urlName = name.ToNiceUrl();
                                }
                                <li><a id="@(urlName + "link")">@name</a></li>
                            }
                        </ul>
                    </div>
                </div>
            }
            @if (Model.Content.HasValue("description")) {
                <div class="col-sm-@(menuItems.Any() ? "7" : "12")">
                    @(Model.Content.GetPropertyValue<IHtmlString>("description"))
                </div>
            }
        </div>
    </div>
</div>
@if (Model.Content.HasValue("modules")) {
    foreach (var item in Model.Content.GetPropertyValue<Archetype.Models.ArchetypeModel>("modules")) {
        @Html.Partial("~/Views/Partials/Modules/" + item.Alias + ".cshtml", item)
    }
}
@Html.Partial("~/Views/Partials/NewsletterBar.cshtml")