﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var meta = Model.Content.GetPropertyValue<SEOChecker.MVC.MetaData>("seo");
}
<!DOCTYPE html>
<html>
<head>
    <!--Import Google Font-->
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,700,500,300,200,600,800' rel='stylesheet' type='text/css'>
    <!--Import bootstrap.css-->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/css/font-awesome.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/css/main.css" media="screen,projection" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="~/css/pass-authenticate.css" rel="stylesheet" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Html.Raw(meta.AllTags)
    <meta name="robots" content="noindex, nofollow" />
</head>
<body>
    <div class="container-fluid">
        <div class="authenticate-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/img/Logo_primaer.png" alt="Morsø Forsyning" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form method="POST">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="authenticate">
                        @if (IsPost) {
                            <div class="alert alert-danger">
                                <p>Adgangskoden er ikke gyldig for denne side...</p>
                            </div>
                        }
                        <h1>Adgangskode</h1>
                        <p>Det er nødvendigt at indtaste en adgangskode for at se denne side.</p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" required placeholder="Indtast adgangskode">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="submit" class="send" value="Send" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>